#container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#leftside{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   background-color: aqua;
}
#middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#middle2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#rightside{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: aquamarine;
}

#currentpoint1container{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
}

#currentpoint2container{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
}

